*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, yellow, green);
}
.container h1{
  font-size: 50px;
}
.container p{
  padding-top: 20px;
  font-size: 25px;
}

.container input{
  outline: none;
  background: #000;
  color: #fff;
  border-radius: 30px;
  margin-top: 30px;
  padding: 15px;
  font-size: 20px;
  border: #fff;
  margin-right: 10px;
}
button{
  background: #000;
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
button:hover{
   transform: scale(0.9);
   transition: ease-in-out 0.3s;
}
.second{
  margin-top: 50px;
  margin-bottom: 30px;
}
.past{
  display: inline;
}